.about {
  background-image: url("../img/close-up-photo-of-sushi-served-on-table-248444.jpg");
  background-size: contain;
  background-color: rgb(252, 222, 203);
  background-repeat: no-repeat;
  background-position: center;
}
