@mixin gridthree {
  grid-column-end: span 3;
}

@mixin gridfour {
  grid-column-end: span 4;
}
@mixin gridhelf {
  grid-column-end: span 6;
}

// shop product list

.productlist {
  margin-top: 1em;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 10px;
  .product {
    @include gridthree();
    @media screen and (max-width: 968px) {
      @include gridfour();
    }
    @media screen and (max-width: 768px) {
      @include gridhelf();
    }
    @media screen and (max-width: 600px) {
      grid-column-end: span 12;
    }
  }
}
