.pages {
  margin-top: 1em;
  display: flex;
  width: 40%;
  justify-content: space-around;
  button {
    padding: 0.5em;
    border-radius: 1.3em;
    color: #2e4cad;
    border: 2px solid #2e4cad;
    &:hover {
      color: #e1e1e1;
      background: #2e4cad;
    }
  }

  .active {
    color: #e1e1e1;
    background: #2e4cad;
  }
}
