@mixin flexCenter {
  display: flex;
  align-items: center;
}

a {
  padding: 2px;
  text-decoration: none;
  color: #000;
  &:hover {
    border-bottom: 2px solid #000;
  }
}

a.active {
  border-bottom: 2px solid #000;
}

header {
  @include flexCenter();
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  h1 {
    font-family: "Baloo Da 2", cursive;
  }
  ul {
    margin-left: 2em;
    @include flexCenter();
    li {
      margin-left: 2em;
      &:first-child {
        margin-left: 0;
      }
      a {
        color: #2cce4f;
        &:hover {
          border-bottom: 2px solid #2cce4f;
        }
      }
      a.active {
        border-bottom: 2px solid #2cce4f;
      }
    }
  }
  a {
    margin-left: auto;
  }
}
